  <!--=====网站头图====-->
   <div class="jumbotron">
     <h1 class="title">一起来 - 发现你喜欢的公益项目</h1>

     <p class="slogan">Find NGO Jobs Here...
     </p>

     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立即发现</a></p>
   </div>
  <!--=====end网站头图====-->

  <!--=====p2====-->
<section id="know about project">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://a3.qpic.cn/psb?/V11ygH4I2jku1x/3vpzAJZnENmxolVpXfDiRaxC.guEBJ*WEuu6mPe6CDA!/b/dG0BAAAAAAAA&bo=AAVVAwAFVQMRCT4!&rf=viewer_4" alt="建筑保护">
        <div class="caption">
          <h3>保护古建筑</h3>
          <p>建筑存在的意义在于它与人之间的关系。那么如果我们让古建筑能继续被人使用下去，那么它的生命力便会一直存在。</p>
          <p><a href="#" class="btn btn-primary" role="button">查看项目</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://a3.qpic.cn/psb?/V11ygH4I2jku1x/3vpzAJZnENmxolVpXfDiRaxC.guEBJ*WEuu6mPe6CDA!/b/dG0BAAAAAAAA&bo=AAVVAwAFVQMRCT4!&rf=viewer_4" alt="建筑保护">
        <div class="caption">
          <h3>保护古建筑</h3>
          <p>建筑存在的意义在于它与人之间的关系。那么如果我们让古建筑能继续被人使用下去，那么它的生命力便会一直存在。</p>
          <p><a href="#" class="btn btn-primary" role="button">查看项目</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://a3.qpic.cn/psb?/V11ygH4I2jku1x/3vpzAJZnENmxolVpXfDiRaxC.guEBJ*WEuu6mPe6CDA!/b/dG0BAAAAAAAA&bo=AAVVAwAFVQMRCT4!&rf=viewer_4" alt="建筑保护">
        <div class="caption">
          <h3>保护古建筑</h3>
          <p>建筑存在的意义在于它与人之间的关系。那么如果我们让古建筑能继续被人使用下去，那么它的生命力便会一直存在。</p>
          <p><a href="#" class="btn btn-primary" role="button">查看项目</a>
        </div>
      </div>
    </div>
   </section>
  <!--=====p2====-->

    <!--====滚动====-->
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>


	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner" role="listbox">
		<div class="item active" style="background:url(a.jpg); background-size:cover;">
			<img src="http://a3.qpic.cn/psb?/V11ygH4I2jku1x/it1wuVqw5mi*yfRNqyQ9z651XyrJKBULWC2IbNJ1GgI!/b/dG0BAAAAAAAA&bo=*ATuAfwE7gEDCSw!&rf=viewer_4" alt="First slide">
      <div class="carousel-caption">
      <h4>hello</h4>
      </div>
    </div>
		<div class="item" style="background:url(a.jpg); background-size:cover;">
			<img src="http://a2.qpic.cn/psb?/V11ygH4I2jku1x/cjQY.9yrBg2pWAOOkSBxXXN6PN4GZJKvlwsT.WEsuQk!/b/dCUAAAAAAAAA&bo=*ATuAfwE7gEDCSw!&rf=viewer_4" alt="Second slide">
      <div class="carousel-caption">
      <h4>hello</h4>
      </div>
    </div>
		<div class="item" style="background:url(a.jpg); background-size:cover;">
			<img src="http://a3.qpic.cn/psb?/V11ygH4I2jku1x/OSiCk0kbS6biHM4qXAUnijHsMM9VkRGjaURv2*737q4!/b/dG0BAAAAAAAA&bo=*ATuAfwE7gEDACU!&rf=viewer_4" alt="Third slide">
      <div class="carousel-caption">
      <h4>hello</h4>
      </div>
    </div>
	</div>
</div>

<!--footer-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
      </div>
</div>
